---
name: build-f35
on:
  schedule:
    - cron: 0 0 * * *
  push:
    branches:
      - sway-f35
  workflow_dispatch:
env:
  REGISTRY_USER: ${{ github.actor }}
  REGISTRY_PASSWORD: ${{ github.token }}
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    container:
      image: quay.io/podman/stable
      # Fix SELinux for the built OSTree: https://github.com/coreos/rpm-ostree/issues/1943
      options: --privileged --security-opt label:disable
    steps:
      - name: Install and Setup
        run: |
          dnf install -y rpm-ostree ostree selinux-policy selinux-policy-targeted policycoreutils patch skopeo podman

      - name: Clone repository
        uses: actions/checkout@v2

      - name: Build and Push OSTree
        run: |
          CACHE=/var/cache/ostree
          REPO=/var/tmp/repo
          mkdir -p $CACHE
          echo ${{ env.REGISTRY_PASSWORD }} | skopeo login -u ${{ env.REGISTRY_USER }} --password-stdin ${{ env.IMAGE_REGISTRY }}
          ostree --repo=$REPO init --mode=archive-z2
          rpm-ostree compose tree --unified-core --cachedir=$CACHE --repo=$REPO sway-desktop.yaml
          ostree container encapsulate --repo=$REPO sway-desktop docker://"${{ env.IMAGE_REGISTRY }}"/sway-desktop:35

      # upload-artifact@v2 has trouble with tens of thousands of files
      - name: Create repo tarball
        run: tar -czf /var/tmp/repo.tar.gz -C /var/tmp/repo .

      - name: Create repository artifact
        uses: actions/upload-artifact@v2
        with:
          name: repository
          path: /var/tmp/repo.tar.gz
          retention-days: 5
