---
name: build-f36
on:
  schedule:
    - cron: 0 0 * * *
  push:
    branches:
      - sway-f36
  workflow_dispatch:
env:
  REGISTRY_USER: ${{ github.actor }}
  REGISTRY_PASSWORD: ${{ github.token }}
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    container:
      image: quay.io/coreos-assembler/coreos-assembler
      options: --privileged --entrypoint bash
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
        with:
          set-safe-directory: false

      - name: Build and Push OSTree
        run: |
          set -eu
          CACHE=/var/cache/ostree
          REPO=/var/tmp/repo
          mkdir -p $CACHE
          echo ${{ env.REGISTRY_PASSWORD }} | skopeo login -u ${{ env.REGISTRY_USER }} --password-stdin ${{ env.IMAGE_REGISTRY }}
          ostree --repo=$REPO init --mode=bare-user
          ostree container image pull $REPO ostree-unverified-registry:ghcr.io/anthr76/sway-desktop:36
          rpm-ostree compose tree --unified-core --cachedir=$CACHE --repo=$REPO sway-desktop.yaml
          ostree container encapsulate --repo=$REPO sway-desktop docker://"${{ env.IMAGE_REGISTRY }}"/sway-desktop:36
